n8n_workflows/Slack_Support_Agent/servicenow.json
{
  "name": "test1",
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09M28ZEMCZ",
          "mode": "list",
          "cachedResultName": "support_personal"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        0,
        864
      ],
      "id": "5873501c-a028-4aee-8a10-bd0b44326b31",
      "name": "Send Response to Slack1",
      "webhookId": "2033716b-1e26-4bff-a4c8-939eaae55417",
      "credentials": {
        "slackApi": {
          "id": "tsTVsuPuLJYk6MQO",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a support incident in ServiceNow. Use this ONLY after user confirms incident creation AND after providing troubleshooting steps that didn't resolve the issue.",
        "resource": "incident",
        "operation": "create",
        "short_description": "={{ $fromAI('short_description', 'Clear subject line (max 60 chars)') }}",
        "additionalFields": {
          "category": "inquiry",
          "description": "={{ $fromAI('description', 'Complete description including troubleshooting steps already attempted') }}",
          "impact": "3",
          "urgency": "3"
        }
      },
      "type": "n8n-nodes-base.serviceNowTool",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "1ce9a7ba-70d3-44cc-8c13-f3a6c77ddad1",
      "name": "Create ServiceNow Incident1",
      "credentials": {
        "serviceNowOAuth2Api": {
          "id": "9PweefLq6jSfAvTZ",
          "name": "ServiceNow Basic Auth account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get recent incidents from ServiceNow when user asks about incident status or lists incidents.",
        "resource": "incident",
        "operation": "getAll",
        "limit": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.serviceNowTool",
      "typeVersion": 1,
      "position": [
        608,
        224
      ],
      "id": "72453eea-3023-4da6-986d-f6070c103269",
      "name": "Get ServiceNow Incidents1",
      "credentials": {
        "serviceNowOAuth2Api": {
          "id": "9PweefLq6jSfAvTZ",
          "name": "ServiceNow Basic Auth account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get specific incident details when user asks about a particular incident number (e.g., 'What's the status of incident INC0012345?'). Provide the incident number like INC0010003.",
        "resource": "incident",
        "operation": "getAll",
        "limit": 1,
        "options": {
          "sysparm_query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter', `The incident number from user query like INC0010003`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.serviceNowTool",
      "typeVersion": 1,
      "position": [
        736,
        224
      ],
      "id": "36e37095-b5ac-40cd-be65-c939b7420f27",
      "name": "Get Specific Incident1",
      "credentials": {
        "serviceNowOAuth2Api": {
          "id": "9PweefLq6jSfAvTZ",
          "name": "ServiceNow Basic Auth account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-09-2025",
        "options": {
          "maxOutputTokens": 1024,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "bafe0036-9dcd-4431-9544-f2e592f5da70",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SRPEBEiczYa95ulL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "ad02c28c-14b1-4524-8edb-8607c5f42947",
      "name": "Conversation Memory1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $json.user }}_{{ $json.channel }}{{ $json.thread_ts ? '_' + $json.thread_ts : '' }}",
              "type": "string"
            },
            {
              "id": "message_text",
              "name": "message_text",
              "value": "={{ $json.text.replace(/<@[A-Z0-9]+>/g, '').trim() }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $json.user }}",
              "type": "string"
            },
            {
              "id": "channel_id",
              "name": "channel_id",
              "value": "={{ $json.channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        640
      ],
      "id": "6123e6e1-1d63-4c5c-be4c-6bd6d5bf0543",
      "name": "Extract Session & Message1"
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C09M28ZEMCZ",
          "mode": "list",
          "cachedResultName": "support_personal"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        640
      ],
      "id": "2b863acc-8f2b-4348-8eb0-4320c99084ed",
      "name": "Slack Trigger1",
      "webhookId": "49011ee8-42e6-4a4f-8f06-0b2ede691854",
      "credentials": {
        "slackApi": {
          "id": "tsTVsuPuLJYk6MQO",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the company knowledge base for answers to user questions, including past incident solutions, troubleshooting guides, and common issues. Use this FIRST for any user query before providing troubleshooting steps.",
        "milvusCollection": {
          "__rl": true,
          "value": "ticket_collection2",
          "mode": "list",
          "cachedResultName": "ticket_collection2"
        },
        "topK": 3
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "typeVersion": 1.3,
      "position": [
        864,
        224
      ],
      "id": "a9d41d8e-5d60-4869-9878-5693b5e1c7f7",
      "name": "Milvus Vector Store1",
      "credentials": {
        "milvusApi": {
          "id": "CZRMJ5sbsrm1HMYS",
          "name": "Milvus account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        432
      ],
      "id": "5dcd9e6b-2a2c-4aec-be48-e3912da0b9da",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "SRPEBEiczYa95ulL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an intelligent AI support agent for our company's Slack-ServiceNow integration system.\n\n## RESPONSE FORMATTING FOR SLACK\n- Use Slack's mrkdwn syntax (not standard markdown)\n- Keep messages concise, clear, and chat-friendly\n- Use *single asterisks* for bold (not double)\n- Use _underscores_ for italics\n- Use simple dash (-) or bullet (•) for lists\n- Format incident details in a clean, readable way:\n  \n  *Incident Number: INC0012345*\n  \n  Short Description: Unable to access application\n  State: New\n  Priority: 3 - Moderate\n  Urgency: 3 - Low | Impact: 3 - Low\n  Description: [description text]\n  Created: 2025-10-15T11:04:19Z\n  \n- Use line breaks for better readability\n- Avoid excessive bold/italic formatting\n- Don't use triple asterisks (***) or decorative symbols\n- Keep field labels simple (no bold on values)\n- Use > for blockquotes when needed\n- Use `````` for technical details\n\n## SEARCH WORKFLOW: KB FIRST, THEN TROUBLESHOOT\n**ALWAYS follow this sequence:**\n\n1. **KNOWLEDGE BASE SEARCH**: For ANY user query, first search the knowledge base using the Milvus tool\n2. **KB RESULT EVALUATION**:\n   - If KB contains relevant answer → Provide that answer with confidence\n   - If KB results are partial → Combine KB info with troubleshooting\n   - If KB has no relevant results → Proceed with normal troubleshooting flow\n\n## KNOWLEDGE BASE USAGE\n- **Search for**: Similar issues, solutions, procedures, common problems, past incidents\n- **Always search first** before providing troubleshooting steps\n- **Cite KB source** when using information from knowledge base\n- **Format**: \"Based on our knowledge base: [answer]\" or \"I found this in our previous solutions: [answer]\"\n\n## FALLBACK TO TROUBLESHOOTING\nIf knowledge base doesn't have the answer, then follow the troubleshooting workflow:\n\n### CORE PHILOSOPHY: RESOLVE FIRST, ESCALATE SECOND\nYour goal is to **resolve issues through troubleshooting** before creating incidents. Only escalate when:\n1. User has tried suggested solutions and they didn't work\n2. Issue requires backend/admin access\n3. User explicitly requests incident creation after troubleshooting\n\n### SERVICENOW INCIDENT TERMINOLOGY\n- Use \"incident\" instead of \"ticket\"\n- Incident numbers format: INC0012345\n- Priority is auto-calculated from Urgency + Impact\n- Urgency levels: 1 (High), 2 (Medium), 3 (Low)\n- Impact levels: 1 (High), 2 (Medium), 3 (Low)\n- States: 1 (New), 2 (In Progress), 3 (On Hold), 6 (Resolved), 7 (Closed)\n\n### INCIDENT QUERIES\nWhen user asks about incidents:\n- \"Show my incidents\" → Use Get ServiceNow Incidents tool\n- \"What's the status of INC0012345?\" → Use Get Specific Incident tool with the INCIDENT NUMBER (not sys_id)\n- Always format incident data clearly with proper field names\n- Extract the incident number from user query (format: INC0010003)\n\n### CREATING INCIDENTS\nBefore creating an incident:\n1. Confirm issue details\n2. Verify troubleshooting was attempted\n3. Ask user to confirm incident creation\n4. Set appropriate urgency (1-3) and impact (1-3) based on business impact\n5. Categories: inquiry, software, hardware, network, database\n\nAnalyze the user's message using conversation memory and respond appropriately!\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        464,
        0
      ],
      "id": "c621bd6b-dff7-40b8-9dea-6eaa7c678f56",
      "name": "AI Support Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7e2635b6-c7a7-4400-a96c-b3e1d331b05f",
      "name": "When chat message received",
      "webhookId": "d50cf67d-9383-4d65-834d-df16c5171ef5"
    }
  ],
  "pinData": {},
  "connections": {
    "Create ServiceNow Incident1": {
      "ai_tool": [
        [
          {
            "node": "AI Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get ServiceNow Incidents1": {
      "ai_tool": [
        [
          {
            "node": "AI Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Specific Incident1": {
      "ai_tool": [
        [
          {
            "node": "AI Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Support Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger1": {
      "main": [
        [
          {
            "node": "Extract Session & Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Milvus Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Milvus Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52bc9d45-c23f-4900-bc34-5a665855babd",
  "meta": {
    "instanceId": "148366cec5c93405ac1917a694fb650dd6f744bc97824c5efeb51b5ea786c948"
  },
  "id": "uEXQEa1D83g7l26l",
  "tags": []
}